/* @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600&display=swap'); */

@font-face {
	font-family: Electrofied;
	font-weight: 700;
	src: local('Electrofied Bold'),
		url('../public/fonts/ElectrofiedBold.ttf') format('truetype');
}
@font-face {
	font-family: Electrofied;
	font-weight: 300;
	src: local('Electrofied Regular'),
		url('../public/fonts/ElectrofiedRegular.ttf') format('truetype');
}
// #app { min-height: 100vh}
html,
body {
  position: relative;
  // height: 100vh;

}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Be Vietnam Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
    -webkit-tap-highlight-color: transparent;
}
*{
  margin: 0;
  padding: 0;
}
.swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-pagination-bullet {
        width: 48px !important;
        height: 48px !important;
        text-align: center;
        line-height: 20px;
        opacity: 1 !important;
        background: rgba(255, 255, 255, 0.2) !important;
        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;
        border: 1px solid #fff;
        box-sizing: border-box;
        margin-left: 32px !important;
        @media only screen and (max-width: 900px) {
          margin-left: 6px !important;
        }
        @media only screen and (max-width: 600px) {
          width: 40px !important;
          height: 40px !important;
          img{
            width: 28px;
            height: 28px;
          }
        }
          
      }

      .swiper-pagination-bullet-active {
        color: #fff;
        background: linear-gradient(180deg, #FA7A5B 28.23%, #FF612F 66.9%) !important;
        /* border: 1px solid transparent !important; */
        border-width: 0;
      }

.mySwiper .swiper-pagination{
  position: absolute;
  bottom: 80px !important;
  right: 120px;
  left: 100% !important;
  height: fit-content;
  width: fit-content !important;
  transform: translateX( calc(-100% - 120px));
  z-index: 2;
  @media only screen and (min-width: 600px) and (max-width: 1440px) {
    transform: translateX( calc(-100% - 80px));
  }
  @media only screen and (min-width: 600px) and(max-width: 900px) {
    bottom: 20px !important;
  }

  @media only screen and (max-width: 600px){
    width: 100% !important;
    margin-left: 120px;
    bottom: 30px !important;
    display: grid;
     justify-content: end;
    grid-row-gap: 24px;
    // justify-content: end;
    padding-right: 24px;
    bottom: 24px !important;
    // height: min-content !important;
    max-height: 50%;
    min-height: min-content;

  }
}
// @media only screen and (min-width: 900px)and (max-width: 1100px) {
//   .mySwiper .swiper-pagination{
//     bottom: 60px !important;
//   }
// }

.absolute{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Toastify__toast-body{
  font-family: 'Be Vietnam Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
    font-weight: 700;
    font-size: 20px;
}
.mobile{
  display: none;
  @media only screen and (max-width: 900px) {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
     background-color: #5A6178;
  }
}
.swiper-wrapper{
  &::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 160px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  }
  &::after{
    content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 300px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
}