@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600&display=swap');
@font-face {
	font-family: Electrofied;
	font-weight: 700;
	src: local('Electrofied Bold'),
		url('../public/fonts/Electrofied\ Bold.ttf') format('truetype');
}
@font-face {
	font-family: Electrofied;
	font-weight: 300;
	src: local('Electrofied Regular'),
		url('../public/fonts/Electrofied\ Regular.ttf') format('truetype');
}
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;

}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Be Vietnam Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}
*{
  margin: 0;
  padding: 0;
}
.swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-pagination-bullet {
        width: 48px !important;
        height: 48px !important;
        text-align: center;
        line-height: 20px;
        opacity: 1 !important;
        background: rgba(255, 255, 255, 0.2) !important;
        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;
        border: 1px solid #fff;
        margin-left: 32px !important;
      }

      .swiper-pagination-bullet-active {
        color: #fff;
        background: linear-gradient(180deg, #FA7A5B 28.23%, #FF612F 66.9%) !important;
        /* border: 1px solid transparent !important; */
        border-width: 0;
      }

.mySwiper .swiper-pagination{
  position: absolute;
  bottom: 80px !important;
  right: 120px;
  left: 100% !important;
  height: fit-content;
  width: fit-content !important;
  transform: translateX( calc(-100% - 120px));
}
@media only screen and (max-width: 700px) {
  .swiper-pagination-bullet{
    margin-left: 6px !important;
    
  }
  .mySwiper .swiper-pagination{
    margin-left: 120px;
    width: 100% !important;
  }
}
.absolute{
  position: absolute;
  inset: 0;
}