.container {
  height: 100vh;
}

.item{
  background-size: cover;
  background-position: center; 
  height: 100vh;
  width: 100%;
}
.content{
  transition: .3s all;
  height: 300px;
  width: 544px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.content .down{
  transform: translateY(100%);
}
.wrapperContent{
  height: 200px;
  overflow: hidden;
  position: absolute;
  bottom: 64px;
  left: 120px;
  z-index: 2;
}
.wrapperContent.down{
  transform: translateY(100%);
}
.content h1{
  font-size: 90px;
  font-weight: 500;

}
.content p{
  font-size: 26px;
  font-weight: 500;
}